body{
	margin: 0 0;
	padding: 0 0;
	font-style: "Inconsolata";
}

li:hover{
	cursor: pointer;
}


.list_container{
	width: 50%;
}

.icons:hover{
	cursor: 
}

.icons{
	float: right;
}

.icons:hover{
	cursor: hand;
}

.icons i{
	margin-right: 5px;
}

.hide_icon{
	float: right;
}


.form_style{

}



